*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer>.card{

  height: 400px;
  width: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}
.card>form{
  display: block;
}